nav {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  border-radius: 50%;
}

.navUl{
  display: flex;
}

.item {
  padding: 0.625rem;
  color: rgb(6, 6, 97);
  font-weight: 500;
  border-radius: 0.25rem;
}

.item:hover {
  background-color: rgb(168, 189, 245);
}